.article-refresh {
    border: 0;
    padding: 0;

    position: absolute;
    top: 0;
    right: 0;

}

.outfit-article {
    float: right;
    position: relative;
}

.article-pics {
    padding-top: 0.5em;
    padding-bottom: 0.5em
}

.new-article-image {
    margin: 0.5em 0.5em 0em 0.5em;
}