.article-refresh {
    border: 0;
    padding: 0;

    position: absolute;
    top: 0;
    right: 0;

}

.outfit-article {
    float: right;
    position: relative;
}

.article-pics {
    padding-top: 0.5em;
    padding-bottom: 0.5em
}

.create-button {
    margin-bottom: 1em;
}

/* Using Opacity=0 for image-input so it will dislplay the 'File not selected' validation message */
/* https: //www.w3docs.com/snippets/html/how-to-overlay-one-div-over-another.html */
/* https: //developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file */

.image-selector {
    position: relative;
    margin-top: 0.5em;
}

.image-selector .image-input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.images {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    align-items: center;
}

.preview-image {
    object-fit: scale-down;
    margin: 0 0.25em 0 0.25em;
}

.next-images {
    width: 33%;
    height: 50%;
    opacity: 50%;
}

.next-preview {
    object-fit: scale-down;
    margin: 0 0 0 0;
}

.new-article-image {
    width: 34%;
    height: 100%;

}

.spacer {
    width: 33%;
}

.article-card-season-group {
    width: 100%;
    /* justify-content: space-between; */
}


.article-card-season {
    padding: 0;
    border-radius: 0;
    width: 25%;
}