.article-refresh {
    border: 0;
    padding: 0;

    position: absolute;
    top: 0;
    right: 0;

}

.outfit-article {
    float: right;
    position: relative;
}

.pic {
    position: relative;
}